#!/usr/bin/env python
# -*- coding: utf-8 -*-
import pytest
from scarab.apis.{{api_name}} import {{api_classname}}
from scarab.test.common.functional import Request, Resource, ScarabApp

import webtest
import json

def test_{{api_name}}_post(ScarabApp):
    #False test
    #res = ScarabApp.post('/api/v{{api_version}}{{path}}', expect_errors=True)
    #assert res.status_int >= 400

    #True test
    res = ScarabApp.post('/api/v{{api_version}}{{path}}', {'key':'value'})
    print res.body
    assert json.loads(res.body)['method'] == 'POST'

def test_{{api_name}}_get(ScarabApp):
    #False test
    #res = ScarabApp.get('/api/v{{api_version}}{{path}}', expect_errors=True)
    #assert res.status_int >= 400

    #True test
    res = ScarabApp.get('/api/v{{api_version}}{{path}}')
    print res.body
    assert json.loads(res.body)['method'] == 'GET'

def test_{{api_name}}_put(ScarabApp):
    #False test
    #res = ScarabApp.put('/api/v{{api_version}}{{path}}', expect_errors=True)
    #assert res.status_int >= 400

    #True test
    res = ScarabApp.put('/api/v{{api_version}}{{path}}', {'key':'value'})
    print res.body
    assert json.loads(res.body)['method'] == 'PUT'

def test_{{api_name}}_delete(ScarabApp):
    #False test
    #res = ScarabApp.delete('/api/v{{api_version}}{{path}}', expect_errors=True)
    #assert res.status_int >= 400

    #True test
    res = ScarabApp.delete('/api/v{{api_version}}{{path}}')
    print res.body
    assert json.loads(res.body)['method'] == 'DELETE'

