<html>
  <head>
  </head>
  <body>
    <h1>Hello {{ name }} Page</h1>
    Welcome to the page template.<br/>Please edit your page
    api(scarab/pages/{{page_filename}}) and page jinja2
    template(scarab/templates/{{template_filename}}).
  </body>
</html>
