#!/usr/bin/env python
# -*- coding: utf-8 -*-
from scarab.models import DBSession
#from scarab.models.<unknown_model> import <unknown table>

def {{service_name}}_func1(parameter1, parameter2):
    # model = DBSession.query(<unknown table>).filter(<unknown table>.<unknown column> == <some value>).scalar()
    # data = model
    data = 'No data here'
    return success, data

def {{service_name}}_func2(parameter1, parameter2, parameter3):
    # model = DBSession.query(<unknown table>).filter(<unknown table>.<unknown column> == <some value>).first()
    # data = model
    data = 'No data here'
    return success, data

def {{service_name}}_func3(parameter1, parameter2, parameter3):
    # model = DBSession.query(<unknown table>).filter(<unknown table>.<unknown column> == <some value>).all()
    # data = model
    data = 'No data here'
    return success, data

